<h3>Home Page</h3>

<%= link_to 'About',  pages_about_path %>

<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eu suscipit diam. In in lectus ornare leo blandit placerat eget non nisl. In hac habitasse platea dictumst. Nam lectus ipsum, ultricies pretium vestibulum at, blandit ut enim. Nam iaculis, libero vitae placerat auctor, dui metus sodales justo, tempor venenatis eros leo sed tortor. Quisque vestibulum semper faucibus. Aenean bibendum leo vel luctus elementum. Proin malesuada bibendum sapien nec scelerisque.
</p>
<p>
  Donec eget lobortis ligula. Quisque at magna varius, finibus dolor sed, rutrum lorem. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eu nunc vel dolor lacinia luctus. Nulla facilisi. Maecenas quam massa, maximus id dictum nec, malesuada id lacus. Quisque et bibendum ex. Nam tincidunt tellus vel augue tempus, nec placerat nisl luctus. Maecenas non risus a augue rhoncus faucibus. In rutrum leo nec risus ultrices, a imperdiet nunc gravida. Integer quis arcu at nunc bibendum vestibulum at sit amet lacus. Vestibulum id felis quis nulla bibendum hendrerit at non eros. Nunc viverra quam leo, eu volutpat mauris euismod sit amet. Curabitur at convallis sem.
</p>
<p>
  Pellentesque eget lectus turpis. Aliquam a tincidunt ligula. Nunc laoreet ipsum in est placerat dictum a tempus ipsum. Cras tristique lacinia viverra. Phasellus neque quam, mattis interdum odio vitae, semper eleifend metus. Etiam venenatis eu turpis eu vestibulum. Proin sem augue, venenatis a ultrices fringilla, posuere et justo. Suspendisse eget est in turpis pulvinar rhoncus. Cras ut ex ut purus convallis porta eu eget nisi. Mauris sed quam orci. Ut condimentum velit in lacus pulvinar, sit amet maximus erat molestie. Pellentesque ac lacus turpis.
</p>
<p>
  Praesent quis scelerisque libero. Aliquam eget rhoncus turpis. Praesent fringilla pharetra nunc iaculis blandit. Ut lorem ipsum, interdum et cursus congue, ornare ac nisl. Maecenas efficitur convallis leo, id iaculis lacus maximus eu. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Pellentesque aliquam, eros eu viverra luctus, ligula justo pretium dolor, id aliquam dolor nisi sit amet nunc. Mauris vulputate vestibulum odio, in rutrum lectus pellentesque ut. Donec aliquet arcu ac leo venenatis, non pharetra mi aliquet. Fusce elementum dui vel orci vulputate facilisis. Sed mauris diam, lobortis a scelerisque id, euismod eget libero.
</p>
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sit amet egestas est. Phasellus at nisl eu nulla elementum consequat. Sed tincidunt neque dolor, sed imperdiet mi gravida tempor. Ut et dictum nisi. Sed in laoreet lectus. Nunc pharetra urna sed lorem finibus pharetra. Quisque porttitor lorem vel fringilla laoreet. Sed pellentesque consequat sapien, sed mattis neque lacinia at. Integer tempus convallis tortor, id rhoncus quam pretium quis. Vestibulum magna elit, suscipit eget metus sed, dapibus dignissim nibh. Sed vitae felis urna. Phasellus porta lacus congue, dictum lectus nec, consectetur felis. Proin sollicitudin metus non ligula pulvinar, eget hendrerit odio vestibulum.
</p>
