<h3>Home Page</h3>

<div class="center jumbotron">
  <h1>Alpha Blog</h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eu suscipit diam. In in lectus ornare leo blandit placerat eget non nisl. In hac habitasse platea dictumst. Nam lectus ipsum, ultricies pretium vestibulum at, blandit ut enim. Nam iaculis, libero vitae placerat auctor, dui metus sodales justo, tempor venenatis eros leo sed tortor.
  </p>
  <p><%= link_to 'Sign up now', signup_path, class: 'btn btn-primary btn-lg' %></p>
</div>

<p>
  Praesent quis scelerisque libero. Aliquam eget rhoncus turpis. Praesent fringilla pharetra nunc iaculis blandit. Ut lorem ipsum, interdum et cursus congue, ornare ac nisl. Maecenas efficitur convallis leo, id iaculis lacus maximus eu. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Pellentesque aliquam, eros eu viverra luctus, ligula justo pretium dolor, id aliquam dolor nisi sit amet nunc. Mauris vulputate vestibulum odio, in rutrum lectus pellentesque ut. Donec aliquet arcu ac leo venenatis, non pharetra mi aliquet. Fusce elementum dui vel orci vulputate facilisis. Sed mauris diam, lobortis a scelerisque id, euismod eget libero.
</p>
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sit amet egestas est. Phasellus at nisl eu nulla elementum consequat. Sed tincidunt neque dolor, sed imperdiet mi gravida tempor. Ut et dictum nisi. Sed in laoreet lectus. Nunc pharetra urna sed lorem finibus pharetra. Quisque porttitor lorem vel fringilla laoreet. Sed pellentesque consequat sapien, sed mattis neque lacinia at. Integer tempus convallis tortor, id rhoncus quam pretium quis. Vestibulum magna elit, suscipit eget metus sed, dapibus dignissim nibh. Sed vitae felis urna. Phasellus porta lacus congue, dictum lectus nec, consectetur felis. Proin sollicitudin metus non ligula pulvinar, eget hendrerit odio vestibulum.
</p>
